@charset "uft-8";

.pc {display: none;}

header {position: fixed; left: 0; top: 0; width: 100%; height: 60px; background: #172274; color: #ffffff; z-index: 10000; transition: all 0.3s; box-sizing: border-box;}
.logo a img{ width: 120px; margin: 10px;}
a.menu_bars {position: absolute; right: 15px; top: 50%; transform: translate(0, -50%); width: 30px; height: 40px; color: #fff; font-size: 30px;}
a.menu_exit {position: absolute; right: 15px; top: 50%; transform: translate(0, -50%); width: 30px; height: 40px; color: #fff; font-size: 32px; display: none;}

header .gnb {width: 100%; display: block; height: 200px; overflow: hidden; background:#172274; display: none; color: #fcb70a}
header .gnb > li{width: 20%; display: block; float: left; margin: 5px; padding: 10px 5px; text-align: center; font-size: 16px;}
header .gnb .search{display: none;}
header .gnb li ul {display: block;}
header .gnb > li > ul > li {width: 100%; text-align: center; padding: 10px 0; margin: 15px 0;}
header .gnb > li > ul > li a {color: #fff; text-align: center; font-size: 16px; padding: 15px 0;}

/*main*/
.main_bg {width: 100%; height: 550px; background: url(../img/main_bg_w.jpg)center/ cover; text-align: center; margin: 0; padding: 0;}
.main_bg h3{padding-top: 230px;}
.quick_menu {width: 100%; height: 120px;}
.quick_menu ul{overflow: hidden; height: 100%}
.quick_menu li{float: left; width: 33.333%; height: 100%; background: #fcb70a; text-align: center;}
.quick_menu li:nth-child(2){background: #172274}
.quick_menu a{font-size: 18px; width: 100%; height: 100%; display: block; color: #fff;}
.quick_menu a i{font-size: 28px; display: block; margin: 25px 0 10px;}

.benefit {margin: 60px 0; height: 1500px;}
.benefit h3{font-size: 24px; text-align: center;}
.benefit h4{width: 70%; margin: 0 auto;font-size: 16px; 
text-align: center; color: #777; font-weight: 200;}
.benefit_off, .benefit_on {width: 95%; margin: 0 auto;}
.benefit_off h3, .benefit_on h3{font-size: 20px; text-align: center;  margin-top: 90px;}
.benefit_off ul, .benefit_on ul{ height: 500px;}
.benefit_off ul li, .benefit_on ul li{ height: 150px; background: gold; margin: 10px 0; position: relative;}
.benefit_off ul li .mask, .benefit_on ul li .mask {width: 100%; position: absolute; bottom: 0; height: 80px; background: #172274; text-align: center; }
.benefit .mask .mask_title{font-size: 16px; color: #fff; padding-top: 5px;}
.benefit .mask p{ width: 80%; font-size: 14px; color: #ccc; margin: 0 auto;}
.benefit_off ul li:nth-child(1) {background: url(../img/main_benefit_off1.jpg)center /cover ;}
.benefit_off ul li:nth-child(2) {background: url(../img/main_benefit_off2.jpg)top /cover }
.benefit_off ul li:nth-child(3) {background: url(../img/main_benefit_off3.jpg)center /cover }
.benefit_on ul li:nth-child(1) {background: url(../img/main_benefit_on1.jpg)bottom /cover }
.benefit_on ul li:nth-child(2) {background: url(../img/main_benefit_on2.jpg)center /cover }
.benefit_on ul li:nth-child(3) {background: url(../img/main_benefit_on3.jpg)top center /cover }
.benefit_off a, .benefit_on a {border: 2px solid #172274; width: 100%; height: 25px; display: block; text-align: center; padding: 5px 0; color: #172274; font-weight: 500;}

.travel_visa {width: 95%; margin: 30px auto; height: 520px;}
.travel_visa h3{font-size: 24px; text-align: center;}
.travel_visa ul.travel_slide{overflow: hidden; margin-top: 50px; height: 400px;}
.travel_visa ul.travel_slide li{float: left; width: 30%; height: 100%; margin: 0 5px; text-align: center; }
.travel_visa ul.travel_slide li:nth-child(1) {background: url(../img/main_traveltai_black.jpg)center/ cover;}
.travel_visa ul.travel_slide li:nth-child(2) {background: url(../img/main_travelhk_black.jpg)center/ cover;}
.travel_visa ul.travel_slide li:nth-child(3) {background: url(../img/main_travelKR_black.jpg)center/ cover;}
.travel_visa ul.travel_slide li h2{font-size: 22px; text-align: center; padding: 60px 0 20px; color: #fff;}
.travel_visa ul.travel_slide li p{width: 85%; margin: 0 auto;height: 200px; color: #ccc; font-size: 14px;}
.travel_visa ul.travel_slide li p span{display: none;}
.travel_visa ul.travel_slide li:nth-child(3) p {height: 180px;}
.travel_visa ul.travel_slide li:nth-child(3) .travel_button {height: 30px;}
.travel_visa ul.travel_slide li .travel_button{width: 75%; height: 30px; display: block; border: 2px solid #fff; color: #fff; padding-top: 5px;}
.travel_visa ul.indicator{display: none;}

.visa_company {width: 95%; margin: 0 auto; height: 700px;}
.visa_company img{width: 100%;}
.visa_company .company_txt{text-align: center;}
.visa_company .company_txt h1{font-size: 28px; margin: 20px 0;}
.visa_company .company_txt a{display: block; width: 50%; margin: 20px auto; padding: 5px 10px; color: #172274; border: 1px solid #172274;}

/*footer*/
footer {width: 100%; height: 400px; background: #ccc; }
footer .footer_top{width: 100%; margin: 30px auto; }
footer div{float: left; width: 46%; margin: 20px 5px; text-align: center;}
footer div ul li{float: left; width: 31%; margin: 5px 2px; text-align: center; font-size: 14px;}
footer div.sns ul li{float: left; width: 30%; margin: 10px 2px; text-align: center; font-size: 28px;}
footer .footer_lang {position: relative; font-size: 18px; color: #222; margin-left: 20px; margin-top: 30px; float: right; width: 45%;}
footer .footer_lang a{display: block; height: 25px;}
footer .footer_lang i{padding-left: 15px;}
footer .footer_lang .lang_list{border: 1px solid #ccc; background: #eee; position: absolute; left: 5px; top: 60px; width: 200px; box-sizing: border-box;  display: none;}
footer .footer_lang .lang_list li{border-bottom: 1px solid #ccc; width: 100%; }
footer .footer_lang .lang_list li a{ color: #333; }
footer .footer_lang .lang_list.on{display: block;}
footer .footer_lang .lang{width: 200px; border: 1px solid #888; text-align: center; padding-top: 5px;}
footer .footer_lang .lang a{padding: 5px 30px; color: #222;}
footer .copyimg{width: 40%; margin: 0 30%;}
footer .copyimg img{width: 100%}
footer .copyright {width: 100%; display: block; text-align: center; font-size: 16px; color: #eee;}



/*sub1*/
.card_txt {width: 100%; padding-top: 70px; text-align: center;}
.card_txt .card_bg{width: 90%; margin: 0 auto;}
.card_txt .card_bg h3{font-size: 24px; margin: 10px 0;}
.card_txt .card_bg p{font-size: 16px; margin: 10px auto; width: 80%;}

.card_toggle {width: 90%; margin: 30px auto;}
.card_toggle ul {width: 100%; }
.card_toggle ul li {width: 90%; margin: 30px auto; padding: 10px; transition: all 0.3s;}
.card_toggle ul li:focus, .card_toggle ul li:hover {transform: scale(1.1); z-index: 10; background: #eee; color: #172274;}
.card_toggle li p{font-size: 14px; margin: 5px 0; }
.card_toggle li .card_title{font-size: 18px; margin: 10px 0; font-weight: 500;}
.card_toggle li img{width: 70%; margin: 10px auto 0;}

.checkcard_txt {width: 100%; padding: 30px 0 40px; text-align: center; margin: 30px 0; background: #eee;}
.checkcard_txt p{width: 85%; margin: 0 auto; text-align: left;}
.checkcard_txt  h3{font-size: 24px; margin: 10px 0;}


/*sub1-2*/
.tech_bg {position: relative; width: 100%;}
.tech_bg .tech_title{width: 95%; margin: 0 auto; height: 400px; overflow: hidden;}
.tech_bg .tech_title li{width: 100%; float: left; display: none; height: 100%; text-align: center;}
.tech_bg .tech_title li h4{font-size: 30px; padding: 150px 0 5px;}
.tech_bg .tech_title li p{font-size: 16px;}
.tech_bg .tech_title li:nth-child(1){display: block; color: #333}
.tech_indicator{position: absolute; bottom: 30px; overflow: hidden; left: 50%; transform: translateX(-50%); width: 100%;}
.tech_indicator li{float: left; width: 30%; margin: 0 5px;}
.tech_indicator li a{color: #172274; font-weight: 500; font-size: 15px; border: 2px solid #172274; display: block; padding: 8px 20px; text-align: center;}
.tech_txt {width: 100%; margin: 0 auto; padding-top: 100px;}
.tech_txt h3{font-size: 24px; text-align: center;}
.tech_txt h4{font-size: 16px; text-align: center; margin: 10px 0;}
.tech_txt li{width: 90%; margin: 20px; padding: 10px 0; border-bottom: 1px solid #999; }
.tech_txt li:nth-child(4 ){border: none; }
.tech_txt li h4{font-size: 20px; padding: 5px 0;}
.tech_txt li p{font-size: 14px; padding: 5px 0;}
.tech_txt li img{width: 100%;}


/*sub2*/
.partready_main {width: 100%; height: 600px; text-align: center; background: url(../img/sub2/visa-ready-1600x900.jpg)center / cover; color: #111;}
.partready_main h3{padding-top: 200px; font-size: 36px;}
.partready_main p{padding: 5px 0; font-size: 14px; color: #fff;}
.partready_txt {width: 75%; margin: 30px auto; color: #172274;}
.partready_txt h1{font-size: 30px; text-align: center; margin: 5px 0; font-weight: 400; }
.partready_txt p{font-size: 16px; text-align: center; }
.partready_menu {margin: 40px 0; }
.partready_menu .partready_menuin{width: 90%; margin: 0 auto;}
.partready_menu .partready_menuin li{padding: 20px; margin: 20px 10px; height: 280px; text-align: center; font-size: 14px; color: #777; border: 1px solid #999}
.partready_menu .partready_menuin h3{font-size: 16px; color: #777; margin: 5px 0; }
.partready_menu .partready_menuin strong{font-size: 22px; color: #172274; padding-bottom: 5px;}
.partready_menu .partready_menuin li img{width: 110px;}

.pratready_sol {width: 90%; margin: 0 auto;}
.pratready_sol h1{font-size: 30px; text-align: center; margin: 5px 0; font-weight: 400;}
.pratready_sol h3{font-size: 18px; text-align: center; margin: 10px 0; font-weight: 300;}
.pratready_sol a{width: 80%; background: #172274; display: block; color: #fff; text-align: center; padding: 15px 0; margin: 0 auto;}
.partready_mask {display: none;}
.partready_mask p{font-size: 18px; color: #172274; text-align: center; margin: 30px 0;}
.partready_maskimg{width: 100%; height: 200px; overflow: hidden;}
.partready_maskimg img{width: 100%; }
.partready_mask ul{overflow: hidden; margin: 20px 0; height: 180px;}
.partready_mask ul li{float: left; width: 30%; height: 80px; font-size: 14px; padding: 10px 6px 0; border-right: 2px solid #eee; text-align: center;}
.partready_mask ul li:nth-child(3){border: none;}
.partready_mask ul li:nth-child(4){width: 46%; height: 60px; margin-top: 20px;}
.partready_mask ul li:last-child{border: none; width: 46%; height: 60px; margin-top: 20px;}


/*sub3*/
.sub_TR_main {width: 100%; height: 800px; background: url(../img/sub3/bg.jpg)center/ cover;  background-attachment: fixed;}
.travel_menu {width: 80%; height: 700px; overflow: hidden; margin: 0 auto; padding-top: 60px; position: relative;}
.travel_menu_box { position: relative; width: 100%; height: 340px;  background: rgb(255, 255, 255,0.8); float: right; margin: 30px auto; overflow: hidden;}
.travel_menu_box ul{position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center;}
.travel_menu_box ul li{position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
.travel_menu_box ul li:last-child{position: absolute; left: 0; top: 20px; width: 100%; height: 100%; display: none;}
.travel_menu_box ul li h3{font-size: 24px; margin: 0;}
.travel_menu_box ul li p{width: 80%; margin: 5px auto;}

.travelmenu_indicator {position: absolute; bottom: 280px; right: 25%; }
.travelmenu_indicator ul {overflow: hidden; width: 250px;}
.travelmenu_indicator ul li{float: left; width: 70px; margin: 0 5px; cursor: pointer;}
.travelmenu_indicator ul li a{color: #ccc; text-align: center; display: block;}
.travelmenu_indicator ul li.on a{font-weight: bold; padding-bottom: 10px; border-bottom: 2px solid #fff;}

.trabvelmenu_arrow {position: absolute; top: 140px; width: 100%; }
.trabvelmenu_arrow a{width: 35px; height: 60px; display: inline-block;}
.trabvelmenu_arrow a.arr_L{position: absolute; left: 30px;}
.trabvelmenu_arrow a.arr_R{position: absolute; right: 30px;}
.trabvelmenu_arrow a img{width: 100%; height: 100%;}

.tralvelmenu_body {width: 100%; float: left; margin: 20px auto; position: relative; height: 100%;}
.tralvelmenu_body .tra_BD{position: absolute; top: 30px; display: none; color: #eee; text-align: center;}
.tralvelmenu_body .tra_BD h3{display: none;}
.tralvelmenu_body .tra_BD p{font-size: 15px; font-weight: 200; line-height: 24px; margin: 15px 0;}
.tralvelmenu_body .tra_BD.on {display: block;}

.TP_M {width: 90%; height: 700px; margin: 80px auto;}
.TP_M h3 {font-size: 28px; text-align: center; margin: 10px 0;}
.TP_M p {font-size: 16px; text-align: center;}
.TP_M table {width: 100%; margin: 70px auto; height: 70px; text-align: center; font-size: 14px;}
.TP_M table thead{border-bottom: 1px solid #666; font-size: 16px; }
.TP_M ul {overflow: hidden; width: 100%; margin: 0 auto;}
.TP_M ul li{float: left; width: 43%;  margin: 15px 10px; text-align: center; }
.TP_M ul li img{width: 100px; margin: 10px;}

.TP_PM {width: 100%; margin: 30px auto; position: relative; background: #eee;}
.TP_PM h3{font-size: 30px; text-align: center; margin: 10px 0;}
.TP_PM select{width: 300px; height: 30px; position: absolute; top: 80px; left: 50%; transform: translateX(-50%); font-size: 16px; padding: 0 20px; font-size: 20px;}
.TP_PM ul {width: 95%; overflow-y: scroll; height: 400px; margin-top: 100px;}
.TP_PM ul li .mask {text-align: center; position: absolute; bottom: 0; width: 100%; height: 70px; background: rgba(255, 255, 255,0.7); padding-top: 10px; font-size: 14px;}
.TP_PM ul li .mask h4{font-size: 16px;}
.TP_PM ul li .mask p{width: 80%; margin: 0 auto;}
.TP_PM ul li{float: left; height: 300px;  margin: 10px 3px; position: relative;}
.TP_PM ul li:nth-child(1){width: 60%; background: url(../img/sub3/TP_PM1.jpg)center/ cover;}
.TP_PM ul li:nth-child(2){width: 35%; background: url(../img/sub3/TP_PM2.jpg)center/ cover;}
.TP_PM ul li:nth-child(3){width: 30%;  background: url(../img/sub3/TP_PM3.jpg)center/ cover;}
.TP_PM ul li:nth-child(4){width: 31%;   background: url(../img/sub3/TP_PM4.jpg)center/ cover;}
.TP_PM ul li:nth-child(5){width: 30%;background: url(../img/sub3/TP_PM5.jpg)center/ cover;}

.TP_HP {height: 280px; background: #172274; margin: 50px 0; width: 100%;}
.TP_HP .TP_HPtxt{width: 90%; margin: 10px auto; padding: 20px 0; position: relative; color: #eee;}
.TP_HP h3{font-size: 28px; text-align: center; padding: 10px 0;  color: #fcb70a;}
.TP_HP h4{font-size: 18px; text-align: center;}
.TP_HP p{font-size: 14px; text-align: center; padding: 10px 0;}
.TP_HP a{font-size: 14px; font-weight: 600; padding: 10px 20px; background: #fff; color: #fcb70a; margin: 10px auto; position: absolute; left: 50%; transform: translateX(-50%);}

.TP_ATM {width: 90%; margin: 0 auto 50px; }
.TP_ATM h3{font-size: 30px; text-align: center; margin: 20px;}
.TP_ATM .TP_ATM_txt{width: 370px; text-align: center; margin-left: 30px;}
.TP_ATM .TP_ATM_txt h4{padding: 10px 0; font-size: 20px;}
.TP_ATM .TP_ATM_txt p{padding: 5px 0; font-size: 16px; margin-bottom: 20px;}
.TP_ATM .TP_ATM_txt a{padding: 10px 25px; font-size: 16px; border: 2px solid #172274; color: #172274; font-weight: 500;}


/*sub4-1*/
.Visa_bg {width: 100%; padding-top: 80px; position: relative;}
.visa_bg-main {width: 80%;height: 400px; margin: 0 auto;}
.visa_bg-main li{width: 100%; float: left; height: 100%;}
.visa_bg-main li h4, .visa_bg-main li p {color: #333; text-align: center;}
.visa_bg-main li h4 {padding-top: 80px; font-size: 30px;}
.visa_bg-main li p {font-size: 18px; color: #333; margin: 10px 0;}
.Visa_bg .tech_indicator {width: 90%; bottom: 80px;}
.Visa_bg .tech_indicator li{width: 47%;}
.vs_wel h1 {font-size: 32px; text-align: center; font-weight: 400; width: 80%; margin: 0 auto;}
.visa_welcome_ul {overflow: hidden; width: 90%; margin: 20px auto;}
.visa_welcome_ul li{float: left; width: 44%; padding: 10px;}
.visa_welcome_ul li:nth-child(1) {border-right: 1px solid #172274}
.visa_welcome_ul li:nth-child(3) {width: 90%; margin: 10px auto;text-align: center;}
.visa_welcome_ul li h4{font-size: 24px; text-align: center; color: #172274; padding: 15px 0;}
.Visa_center {width: 100%;  margin: 70px 0;}
.Visa_center ul{width: 95%; margin: 10px auto; color: #333;}
.Visa_center ul li{ height: 200px; overflow: hidden; margin: 20px 0;}
.Visa_center ul li .mobile{width: 50%; height: 100%; margin-right: 10px; float: left;  overflow: hidden;}
.Visa_center ul li:nth-child(2) .mobile{float: right; width: 45%; margin-left: 10px}
.Visa_center ul li:nth-child(4) .mobile{float: right; width: 45%; margin-left: 10px}
.Visa_center ul li img{height: 100%; vertical-align: middle}
.Visa_center ul li h3{font-size: 24px; padding: 5px 0 10px;}
.Visa_center ul li p{font-size: 16px; }

.Visa_tgt {width: 100%; padding: 50px 0; background: #eee;}
.Visa_tgt h1{margin-bottom: 40px; font-size: 30px;}
.Visa_tgt form div {margin: 20px auto; text-align: center;}
.Visa_tgt form div p{font-size: 20px; font-weight: 300;}
.Visa_tgt form .id input{width: 330px; height: 30px;}
.Visa_tgt form .password input{width: 50%; height: 30px;}
.Visa_tgt form .email input{width: 145px; height: 30px;}
.Visa_tgt form .visit input{margin: 5px; }
.Visa_tgt form select {width: 130px; height: 35px; font-size: 16px; margin: 0 auto;}
.Visa_tgt form .form_btn {width: 40%; height: 40px; font-size: 18px; border: none; background: #172274; color: #fff; margin: 0 30%;}

.vs_cr {width: 100%; height: 1250px; margin: 50px auto ;}
.vs_cr h1 {font-size: 24px; text-align: center; font-weight: 200;}
.vs_cr .vs_crtxt h3{text-align: center; font-size: 30px;}
.vs_cr .vs_crtxt h4{text-align: center; font-size: 18px;margin-bottom: 10px;}
.visa_cr_fl {width: 90%; overflow: hidden; margin: 0 auto;}
.visa_cr_fl h4{padding: 10px 10px 0; font-size: 24px;}
.visa_cr_fl p{padding: 5px 10px; font-size: 16px; }
.visa_cr_ul { width: 100%; margin: 0 auto;}
.visa_cr_ul li{overflow: hidden; margin: 10px 0 30px; text-align: center; background: #eee;}
.visa_cr_ul li img{width: 100%;}
.visa_cr_sev {width: 100%; margin-top: 70px;}
.visa_sev_in {color:#172274; padding: 10px; height: 100%; text-align: center;}
.visa_sev_in img{width: 100%;}
.visa_sev_in a {color: #172274; display: inline-block; border: 2px solid #172274; padding: 10px 30px; margin: 30px 0;}


/*sub4-2*/
.visa_intro {width: 100%; height: 750px; background: url(../img/sub4/visa_intro-main.jpg)center/ cover; background-attachment: fixed; position: relative;}
.visa_intro h3 {width: 90%; font-size: 50px; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center;}
.visa_intro h4 {width: 90%; font-size: 20px; position: absolute; top: 50%; left: 50%; transform: translateX(-50%); color: #fcb70a; text-align: center;}

.visa_intro_start {width: 90%; height: 350px; margin: auto; text-align: center; padding-top: 50px;}
.visa_intro_start h4{font-size: 30px; margin: 20px; font-weight: 400;}
.visa_intro_start p{margin: 10px; color: #777}
.intro_mar {width: 90%; margin: 50px auto; text-align: center;}
.intro_mar h4{font-size: 30px; font-weight: 300; margin: 20px 0;}
.intro_mar ul{overflow: hidden;}
.intro_mar ul li{float: left; width: 45%; height: 210px; padding: 20px 10px 10px; border-left: 2px solid #ccc; border-bottom: 2px solid #ccc; ; }
.intro_mar ul li:first-child, .intro_mar ul li:nth-child(3) {border-left: none;}
.intro_mar ul li:last-child, .intro_mar ul li:nth-child(3) {border-bottom: none;}

.intro_his {width: 100%; height: 400px; margin: 0 auto; overflow: hidden; text-align: center;}
.intro_his h4{font-size: 24px; padding-top: 30px;  color:#fff;}
.intro_his p{font-size: 16px; margin-bottom:  15px; color:#fff;}
.intro_his .intro_his_Ltxt{width: 100%; height: 150px; background: url(../img/sub4/visa_intro-his-M.jpg)center/ cover; margin: 20px 0; transition: all 0.3s;}
.intro_his .intro_his_Rtxt{width: 100%; height: 150px; background: url(../img/sub4/visa_intro-his2-M.jpg)center/ cover; margin: 20px 0; transition: all 0.3s;}
.intro_his .intro_his_Rtxt a {color: #fff; font-size: 14px; border: 1px solid #fff; padding: 5px 15px;}
.intro_his .intro_his_Rtxt:hover {background:url(../img/sub4/visa_intro-his2.jpg)center/ cover;}
.intro_his .intro_his_Ltxt:hover {background:url(../img/sub4/visa_intro-his.jpg)center/ cover;}

.intro_product {width: 95%; height: 800px; margin: 50px auto 20px; text-align: center;}
.intro_product h4{font-size: 24px; margin: 20px 0; font-weight: 300;}
.intro_product p{font-size: 14px; color: #888;}
.intro_product ul{ margin: 30px 0;}
.intro_product ul li{width: 100%;  height: 350px;}
.intro_product ul li img{width: 100%;}
.intro_product ul li a{font-size: 18px; padding: 10px 0; color: #333; font-weight: 500;}
.intro_news {width: 80%; margin: 50px auto;}
.intro_news table {text-align: center; font-size: 16px; width: 100%; margin: 0 auto; color: #777}
.intro_news table thead th{padding: 10px 0; margin: 20px 0; font-size: 20px; color: #333; border-bottom: 1px solid #333;}
.intro_news table tbody th{padding: 5px 10px;}
